@media screen and ( min-width: 60em){
    .nav-registration {
        position: absolute;
        left: 40%;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-family: Trebuchet MS;
    }
    label {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Accept {
        width: 22px;
        height: 22px;
        border: 1px solid #1ab394; 
        margin-top: 10px;
        margin-right: 10px;
        text-align: center;
    }
    .AcceptLabel {
        font-size: 14px;
        color: grey;
        font-weight: 100;
        font-family: Trebuchet MS;
    }
    #divA i {
        background-color: #1ab394;
        color: white;
    }
    .p {
        text-align: center;
    }
}
@media screen and (min-width: 30em){
    .nav-registration {
        position: absolute;
        left: 40%;
    }  
}
    label {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Accept {
        width: 22px;
        height: 22px;
        border: 1px solid #1ab394; 
        margin-top: 10px;
        margin-right: 10px;
        text-align: center;
    }
    .AcceptLabel {
        font-size: 14px;
        color: grey;
        font-weight: 100;
        font-family: Trebuchet MS;
    }
    #divA i {
        background-color: #1ab394;
        color: white;
    }
    .p {
        text-align: center;
    }